<p style="font-family: Arial; font-size:3em;color:purple; font-style:bold"><br>
Mini Project - Movie Ratings and Volatility</p><br>
<br>

The aim of this project is to answer the following question:

**Are movie ratings more biased at time of release, and do they become less volatile, and thus potentailly more reasonable, over time?**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
movies = pd.read_csv('../Week-4-Pandas/movielens/movies.csv', sep=',')

In [3]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

We can indicate time of release by year. We need to extract year from each movie's title and place it in to a new column 'year'. This is done using regular expressions and the Pandas `.str.extract()` method as below. We also don't need the genres column so lets take that out.

In [4]:
movies['year'] = movies['title'].str.extract('.*\((.*)\).*', expand=True)
del(movies['genres'])

In [5]:
movies.head()

   movieId                               title  year
0        1                    Toy Story (1995)  1995
1        2                      Jumanji (1995)  1995
2        3             Grumpier Old Men (1995)  1995
3        4            Waiting to Exhale (1995)  1995
4        5  Father of the Bride Part II (1995)  1995

In [6]:
ratings = pd.read_csv('../Week-4-Pandas/movielens/ratings.csv', sep=',')

In [7]:
ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

We want to convert our rating timestamps from Unix time (seconds since 1 Jan 1970) to human readable time. This can be done by using the Pandas `.to_datetime()` method. We will put this in to new column 'datetime'. To keep things tidy, we'll also remove the previous 'timestamp' column.

In [8]:
ratings['datetime'] = pd.to_datetime(ratings['timestamp'], unit='s')
del(ratings['timestamp'])

In [9]:
ratings.head()

   userId  movieId  rating            datetime
0       1        2     3.5 2005-04-02 23:53:47
1       1       29     3.5 2005-04-02 23:31:16
2       1       32     3.5 2005-04-02 23:33:39
3       1       47     3.5 2005-04-02 23:32:07
4       1       50     3.5 2005-04-02 23:29:40

Using the `.min()` and `.max()` functions, we can see that our ratings data begins in 1995 and ends before 2016 - so lets only consider movies between these years.

In [10]:
print(ratings['datetime'].min())
print(ratings['datetime'].max())

1995-01-09 11:46:44
2015-03-31 06:40:02

We create a mask to filter out movies from 1995 to 2016.

In [11]:
m1 = movies['year'] >= '1995'
m2 = movies['year'] < '2016'

fmovies = movies[m1 & m2]

movie_yrs = fmovies['year'].unique().tolist()
movie_yrs

['1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2009– ',
 '2007-',
 '2015']

By putting the unique values to a list - we can see there's problematic values that contain dashes and spaces. Lets remove these.

In [12]:
fmovies['year'] = fmovies['year'].map(lambda x: x.rstrip(' -–'))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [13]:
fmovies['year'] = pd.to_datetime(fmovies['year'])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [14]:
fmovies.head()

   movieId                               title       year
0        1                    Toy Story (1995) 1995-01-01
1        2                      Jumanji (1995) 1995-01-01
2        3             Grumpier Old Men (1995) 1995-01-01
3        4            Waiting to Exhale (1995) 1995-01-01
4        5  Father of the Bride Part II (1995) 1995-01-01

Now lets merge our two dataframes in to one by movieId.

In [15]:
mvrt = ratings.merge(fmovies, on='movieId', how='inner')

In [16]:
mvrt.head()

   userId  movieId  rating            datetime           title       year
0       1        2     3.5 2005-04-02 23:53:47  Jumanji (1995) 1995-01-01
1       5        2     3.0 1996-12-25 15:26:09  Jumanji (1995) 1995-01-01
2      13        2     3.0 1996-11-27 08:19:02  Jumanji (1995) 1995-01-01
3      29        2     3.0 1996-06-23 20:36:14  Jumanji (1995) 1995-01-01
4      34        2     3.0 1996-10-28 13:29:44  Jumanji (1995) 1995-01-01

In [17]:
print(mvrt['year'][0] + pd.DateOffset(years=1))

1996-01-01 00:00:00

In [19]:
mask1 = mvrt['datetime'] < (mvrt['year'] + pd.DateOffset(years=1))

mvrt[mask1]

,userId,movieId,rating,datetime,title,year
116714,131160,47,5.0,1995-01-09 11:46:49,Seven (a.k.a. Se7en) (1995),1995-01-01
190508,29,653,3.0,1996-06-23 20:44:56,Dragonheart (1996),1996-01-01
190511,75,653,4.0,1996-07-02 13:04:16,Dragonheart (1996),1996-01-01
190520,149,653,4.0,1996-11-26 15:19:23,Dragonheart (1996),1996-01-01
190523,158,653,3.0,1996-09-14 21:06:52,Dragonheart (1996),1996-01-01
190524,159,653,3.0,1996-12-16 17:48:43,Dragonheart (1996),1996-01-01
190527,199,653,3.0,1996-12-17 20:38:49,Dragonheart (1996),1996-01-01
190541,324,653,3.0,1996-12-13 16:23:37,Dragonheart (1996),1996-01-01
190542,325,653,4.0,1996-11-30 21:54:01,Dragonheart (1996),1996-01-01
190587,760,653,4.0,1996-06-06 13:04:45,Dragonheart (1996),1996-01-01
190591,781,653,3.0,1996-12-29 19:18:56,Dragonheart (1996),1996-01-01
190594,818,653,4.0,1996-12-05 19:54:41,Dragonheart (1996),1996-01-01
190597,850,653,3.0,1996-12-02 18:00:33,Dragonheart (1996),1996-01-01
190604,925,653,4.0,1996-08-23 01:22:40,Dragonheart (1996),1996-01-01
190605,954,653,3.0,1996-06-28 02:43:58,Dragonheart (1996),1996-01-01
190619,1058,653,4.0,1996-11-26 10:38:45,Dragonheart (1996),1996-01-01
190626,1116,653,4.0,1996-11-26 02:34:44,Dragonheart (1996),1996-01-01
190651,1422,653,1.0,1996-11-26 19:21:50,Dragonheart (1996),1996-01-01
190652,1423,653,4.0,1996-11-27 17:10:45,Dragonheart (1996),1996-01-01
190668,1547,653,3.0,1996-12-06 16:51:04,Dragonheart (1996),1996-01-01
190682,1625,653,3.0,1996-12-13 17:52:36,Dragonheart (1996),1996-01-01
190683,1638,653,4.0,1996-07-01 23:35:17,Dragonheart (1996),1996-01-01
190695,1807,653,5.0,1996-09-05 23:39:01,Dragonheart (1996),1996-01-01
190704,1931,653,4.0,1996-11-23 18:15:36,Dragonheart (1996),1996-01-01
190710,1974,653,4.0,1996-12-31 00:23:52,Dragonheart (1996),1996-01-01
190726,2162,653,3.0,1996-07-03 18:39:42,Dragonheart (1996),1996-01-01
190727,2174,653,5.0,1996-12-23 08:56:05,Dragonheart (1996),1996-01-01
190747,2422,653,4.0,1996-12-05 07:50:30,Dragonheart (1996),1996-01-01
190752,2493,653,4.0,1996-11-26 16:54:10,Dragonheart (1996),1996-01-01
190756,2520,653,5.0,1996-12-18 17:24:04,Dragonheart (1996),1996-01-01
...,...,...,...,...,...,...
10652628,119757,130087,2.5,2015-03-29 11:36:27,The Cobbler (2015),2015-01-01
10652629,114065,130089,2.0,2015-03-16 01:35:18,Crazy Beautiful You (2015),2015-01-01
10652647,114579,102860,3.5,2013-05-30 10:06:17,Hilton! (2013),2013-01-01
10652648,130827,102860,3.0,2013-10-28 20:43:32,Hilton! (2013),2013-01-01
10652658,114763,130056,3.5,2015-03-15 12:20:18,Kingdom of Shadows (2015),2015-01-01
10652699,117144,113376,2.5,2014-08-15 16:51:09,"Reckoning, The (2014)",2014-01-01
10652700,117144,113778,2.0,2014-09-01 16:56:26,Cat Run 2 (2014),2014-01-01
10652701,122058,113778,1.5,2014-09-21 01:43:00,Cat Run 2 (2014),2014-01-01
10652702,117144,118326,2.0,2014-12-07 10:00:13,By the Gun (2014),2014-01-01
10652703,117144,118350,3.0,2014-12-07 18:05:43,Tell (2014),2014-01-01
10652704,117144,118874,2.5,2014-12-13 19:41:17,Bachelor Night (2014),2014-01-01
10652707,117144,129826,2.5,2015-03-13 18:12:02,LEGO DC Comics Super Heroes: Justice League vs...,2015-01-01
10652708,117144,130842,3.5,2015-03-28 07:19:48,Power/Rangers (2015),2015-01-01
10652709,120609,130842,2.5,2015-03-25 19:18:34,Power/Rangers (2015),2015-01-01
10652710,122523,130842,4.0,2015-03-24 23:20:11,Power/Rangers (2015),2015-01-01
10652711,117144,131180,2.5,2015-03-30 07:17:52,Dead Rising: Watchtower (2015),2015-01-01
10652717,117561,106753,4.0,2013-12-01 20:28:14,Shed No Tears (Känn ingen sorg) (2013),2013-01-01
10652768,117718,113970,3.5,2014-09-08 17:16:27,Mi Amigo Hugo (2014),2014-01-01
10652793,118806,105382,3.5,2013-10-07 03:47:45,This is Our Time (2013),2013-01-01
10652810,119157,129372,1.0,2015-03-22 22:45:24,Demonic (2015),2015-01-01
10652822,119757,112297,3.5,2014-06-20 16:11:28,Tillbaka till Bromma (2014),2014-01-01
10652824,119757,112610,3.5,2014-07-11 17:51:42,"Sunfish, The (Klumpfisken) (2014)",2014-01-01
10652845,120937,127451,4.0,2015-02-02 20:42:58,A Grain of Truth (2015),2015-01-01
10652868,121753,117415,4.0,2014-11-21 12:18:46,Happiness (2014),2014-01-01
10652869,121753,117584,3.0,2014-11-27 17:43:29,The Boy in the Mirror (2014),2014-01-01
10652877,121917,127610,4.0,2015-02-04 15:07:06,Average Italian (2015),2015-01-01
10652888,122027,102450,3.5,2013-05-14 04:34:22,"Last Chance: Diary of Comedians, The (Bokutach...",2013-01-01
10652978,127969,112759,3.5,2014-07-19 10:04:42,Healing (2014),2014-01-01
10652986,131615,104827,3.5,2013-09-11 19:39:50,American Vagabond (2013),2013-01-01
10653031,131829,81713,3.5,2010-11-10 07:59:49,Abelar: Tales of an Ancient Empire (Tales of a...,2010-01-01